[submodule "backend_rails"]
	path = backend_rails
	url = git@github.com:KmxNnCCZ/rate-footballer-backend-rails.git
[submodule "frontend_react"]
	path = frontend_react
	url = git@github.com:KmxNnCCZ/rate-footballer-frontend-react.git
